<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="couchbaseClients">
			<section name="couchbase" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
		</sectionGroup>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
	</configSections>

	<akka>
		<hocon>
			<![CDATA[
			
				akka {
					# here we are configuring log levels
					log-config-on-start = off
					stdout-loglevel = INFO
					loglevel = DEBUG
					
				}

			]]>
		</hocon>
	</akka>


	<couchbaseClients>
		<couchbase useSsl="false">
			<servers>
				<add uri="http://127.0.0.1:8091"></add>
			</servers>
			<buckets>
				<!--<add name="default" useSsl="false" password="" operationLifespan="2000">
					<connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"></connectionPool>
				</add>-->
				<add name="SSA" useSsl="false" password="" operationLifespan="2000">
					<connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"></connectionPool>
				</add>
				<add name="SSA" useSsl="false" password="" operationLifespan="2000">
					<connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"></connectionPool>
				</add>
			</buckets>
		</couchbase>
	</couchbaseClients>


	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>